@font-face { 
    font-family:'Philosopher'; 
    src: url('/scss/Philosopher/Philosopher-Regular.ttf'); 
} 
@font-face { 
    font-family: 'Roboto';
    src: url('/scss/Roboto/Roboto-Regular.ttf'); 
} 
